@model IndexPage
@{
}
<form method="post" asp-controller="Admin" asp-action="Check" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="div-box">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="div-box">
        <label asp-for="Tag"></label>
        <input asp-for="Tag" />
        <span asp-validation-for="Tag"></span>
    </div>
    <div class="div-box">
        <label asp-for="photoOnPage"></label>
        <input type="file" name="uploads" /><br>
    </div>
    
    <input type="submit" value="Сохранить" />
</form>
