@model IndexPage
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>Успешно сохранено.</h2>
    <a href="/Admin/Add">Добавить ещё элемент</a>
    <a href="/Admin/Panel">Вернуться на главную</a>
</div>